@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.pointer-events-none{
  pointer-events: none;
}

.visible{
  visibility: visible;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.bottom-0{
  bottom: 0px;
}

.bottom-4{
  bottom: 1rem;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.left-2{
  left: 0.5rem;
}

.left-4{
  left: 1rem;
}

.right-0{
  right: 0px;
}

.right-4{
  right: 1rem;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-2{
  top: 0.5rem;
}

.top-\[100\%\]{
  top: 100%;
}

.top-\[50\%\]{
  top: 50%;
}

.top-full{
  top: 100%;
}

.left-1{
  left: 0.25rem;
}

.top-1{
  top: 0.25rem;
}

.z-50{
  z-index: 50;
}

.z-\[20\]{
  z-index: 20;
}

.z-\[22\]{
  z-index: 22;
}

.z-\[99\]{
  z-index: 99;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.-mb-2{
  margin-bottom: -0.5rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-\[-80px\]{
  margin-top: -80px;
}

.mt-\[80px\]{
  margin-top: 80px;
}

.mt-\[98px\]{
  margin-top: 98px;
}

.mt-1{
  margin-top: 0.25rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.line-clamp-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.aspect-\[1\/1\]{
  aspect-ratio: 1/1;
}

.aspect-\[381\/215\]{
  aspect-ratio: 381/215;
}

.aspect-\[287\/247\]{
  aspect-ratio: 287/247;
}

.aspect-\[320\/200\]{
  aspect-ratio: 320/200;
}

.aspect-\[532\/511\]{
  aspect-ratio: 532/511;
}

.aspect-\[276\/247\]{
  aspect-ratio: 276/247;
}

.h-0\.5{
  height: 0.125rem;
}

.h-10{
  height: 2.5rem;
}

.h-3{
  height: 0.75rem;
}

.h-4{
  height: 1rem;
}

.h-48{
  height: 12rem;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.h-\[100vh\]{
  height: 100vh;
}

.h-\[18px\]{
  height: 18px;
}

.h-\[22px\]{
  height: 22px;
}

.h-\[247px\]{
  height: 247px;
}

.h-\[24px\]{
  height: 24px;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[35px\]{
  height: 35px;
}

.h-\[40px\]{
  height: 40px;
}

.h-\[560px\]{
  height: 560px;
}

.h-\[80px\]{
  height: 80px;
}

.h-\[calc\(100vh_-_75px\)\]{
  height: calc(100vh - 75px);
}

.h-full{
  height: 100%;
}

.h-\[16px\]{
  height: 16px;
}

.h-\[67px\]{
  height: 67px;
}

.max-h-0{
  max-height: 0px;
}

.max-h-\[511px\]{
  max-height: 511px;
}

.max-h-\[656px\]{
  max-height: 656px;
}

.min-h-20{
  min-height: 5rem;
}

.min-h-\[570px\]{
  min-height: 570px;
}

.min-h-\[390px\]{
  min-height: 390px;
}

.min-h-\[542px\]{
  min-height: 542px;
}

.min-h-\[680px\]{
  min-height: 680px;
}

.min-h-\[622px\]{
  min-height: 622px;
}

.w-3{
  width: 0.75rem;
}

.w-32{
  width: 8rem;
}

.w-40{
  width: 10rem;
}

.w-6{
  width: 1.5rem;
}

.w-64{
  width: 16rem;
}

.w-8{
  width: 2rem;
}

.w-80{
  width: 20rem;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[100vw\]{
  width: 100vw;
}

.w-\[115px\]{
  width: 115px;
}

.w-\[18px\]{
  width: 18px;
}

.w-\[22px\]{
  width: 22px;
}

.w-\[34px\]{
  width: 34px;
}

.w-\[40px\]{
  width: 40px;
}

.w-full{
  width: 100%;
}

.w-\[24px\]{
  width: 24px;
}

.w-\[16px\]{
  width: 16px;
}

.w-\[80pxpx\]{
  width: 80pxpx;
}

.w-\[80px\]{
  width: 80px;
}

.w-\[50px\]{
  width: 50px;
}

.min-w-60{
  min-width: 15rem;
}

.min-w-80{
  min-width: 20rem;
}

.min-w-\[161px\]{
  min-width: 161px;
}

.\!max-w-\[1108px\]{
  max-width: 1108px !important;
}

.\!max-w-\[1200px\]{
  max-width: 1200px !important;
}

.\!max-w-\[1280px\]{
  max-width: 1280px !important;
}

.\!max-w-\[1320px\]{
  max-width: 1320px !important;
}

.\!max-w-\[1340px\]{
  max-width: 1340px !important;
}

.\!max-w-\[1400px\]{
  max-width: 1400px !important;
}

.\!max-w-\[720px\]{
  max-width: 720px !important;
}

.max-w-\[260px\]{
  max-width: 260px;
}

.max-w-\[262px\]{
  max-width: 262px;
}

.max-w-\[440px\]{
  max-width: 440px;
}

.max-w-\[460px\]{
  max-width: 460px;
}

.max-w-\[790px\]{
  max-width: 790px;
}

.max-w-\[800px\]{
  max-width: 800px;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[0\]{
  --tw-translate-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[calc\(-100\%_-_20px\)\]{
  --tw-translate-x: calc(-100% - 20px);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-100\%\]{
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-1px\]{
  --tw-translate-y: -1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\]{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[calc\(100\%_-_1\.5rem\)\]{
  --tw-translate-y: calc(100% - 1.5rem);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[calc\(100\%_-_2px\)\]{
  --tw-translate-y: calc(100% - 2px);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-bounce{
  animation: bounce 1s infinite;
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

.animate-pulse{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

.animate-spin{
  animation: spin 1s linear infinite;
}

.\!cursor-pointer{
  cursor: pointer !important;
}

.cursor-pointer{
  cursor: pointer;
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-\[100\%_100\%\]{
  grid-template-columns: 100% 100%;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.flex-wrap{
  flex-wrap: wrap;
}

.content-start{
  align-content: flex-start;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.\!gap-10{
  gap: 2.5rem !important;
}

.\!gap-12{
  gap: 3rem !important;
}

.\!gap-2{
  gap: 0.5rem !important;
}

.\!gap-5{
  gap: 1.25rem !important;
}

.\!gap-8{
  gap: 2rem !important;
}

.gap-0\.5{
  gap: 0.125rem;
}

.gap-1{
  gap: 0.25rem;
}

.gap-1\.5{
  gap: 0.375rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-14{
  gap: 3.5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-2\.5{
  gap: 0.625rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-\[20px\]{
  gap: 20px;
}

.gap-12{
  gap: 3rem;
}

.gap-x-5{
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-y-10{
  row-gap: 2.5rem;
}

.self-stretch{
  align-self: stretch;
}

.overflow-auto{
  overflow: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}

.overflow-y-auto{
  overflow-y: auto;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-\[15px\]{
  border-radius: 15px;
}

.rounded-\[20px\]{
  border-radius: 20px;
}

.rounded-\[8px\]{
  border-radius: 8px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-4{
  border-width: 4px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.border-\[\#1E1E1E\]{
  --tw-border-opacity: 1;
  border-color: rgb(30 30 30 / var(--tw-border-opacity, 1));
}

.border-\[\#767676\]{
  --tw-border-opacity: 1;
  border-color: rgb(118 118 118 / var(--tw-border-opacity, 1));
}

.border-\[\#C0C0C0\]{
  --tw-border-opacity: 1;
  border-color: rgb(192 192 192 / var(--tw-border-opacity, 1));
}

.border-\[\#D9D9D9\]{
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity, 1));
}

.border-\[\#E1261C\]{
  --tw-border-opacity: 1;
  border-color: rgb(225 38 28 / var(--tw-border-opacity, 1));
}

.border-\[\#F5F5F5\]{
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity, 1));
}

.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-b-transparent{
  border-bottom-color: transparent;
}

.border-t-transparent{
  border-top-color: transparent;
}

.bg-\[\#1E1E1E80\]{
  background-color: #1E1E1E80;
}

.bg-\[\#2C2C2C\]{
  --tw-bg-opacity: 1;
  background-color: rgb(44 44 44 / var(--tw-bg-opacity, 1));
}

.bg-\[\#323232CC\]{
  background-color: #323232CC;
}

.bg-\[\#323232\]{
  --tw-bg-opacity: 1;
  background-color: rgb(50 50 50 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E20000CC\]{
  background-color: #E20000CC;
}

.bg-\[\#E6E6E6\]{
  --tw-bg-opacity: 1;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F2F2F2\]{
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F5F5F5\]{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f5f5f5\]{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/50{
  background-color: rgb(255 255 255 / 0.5);
}

.bg-zinc-800{
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EC221F\]{
  --tw-bg-opacity: 1;
  background-color: rgb(236 34 31 / var(--tw-bg-opacity, 1));
}

.bg-red-500{
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-2{
  padding: 0.5rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.p-\[2px\]{
  padding: 2px;
}

.p-5{
  padding: 1.25rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-24{
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pb-32{
  padding-bottom: 8rem;
}

.ps-8{
  padding-inline-start: 2rem;
}

.pt-24{
  padding-top: 6rem;
}

.pt-8{
  padding-top: 2rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[24px\]{
  font-size: 24px;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-\[40px\]{
  font-size: 40px;
}

.text-\[48px\]{
  font-size: 48px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-\[20px\]{
  font-size: 20px;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.font-black{
  font-weight: 900;
}

.uppercase{
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

.leading-10{
  line-height: 2.5rem;
}

.leading-4{
  line-height: 1rem;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-8{
  line-height: 2rem;
}

.leading-\[1\.2\]{
  line-height: 1.2;
}

.leading-\[1\.4\]{
  line-height: 1.4;
}

.leading-\[1\.5\]{
  line-height: 1.5;
}

.leading-\[1\.6\]{
  line-height: 1.6;
}

.leading-\[1\]{
  line-height: 1;
}

.leading-\[76\.80px\]{
  line-height: 76.80px;
}

.leading-tight{
  line-height: 1.25;
}

.leading-\[24px\]{
  line-height: 24px;
}

.tracking-\[0\.7px\]{
  letter-spacing: 0.7px;
}

.tracking-\[0\.8px\]{
  letter-spacing: 0.8px;
}

.tracking-\[1px\]{
  letter-spacing: 1px;
}

.text-\[\#323232\]{
  --tw-text-opacity: 1;
  color: rgb(50 50 50 / var(--tw-text-opacity, 1));
}

.text-\[\#757575\]{
  --tw-text-opacity: 1;
  color: rgb(117 117 117 / var(--tw-text-opacity, 1));
}

.text-\[\#777\]{
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity, 1));
}

.text-\[\#E1261C\]{
  --tw-text-opacity: 1;
  color: rgb(225 38 28 / var(--tw-text-opacity, 1));
}

.text-\[\#F3F3F3\]{
  --tw-text-opacity: 1;
  color: rgb(243 243 243 / var(--tw-text-opacity, 1));
}

.text-\[\#F5F5F5\]{
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity, 1));
}

.text-neutral-100{
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity, 1));
}

.text-neutral-500{
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity, 1));
}

.text-stone-900{
  --tw-text-opacity: 1;
  color: rgb(28 25 23 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-zinc-400{
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity, 1));
}

.opacity-0{
  opacity: 0;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline{
  outline-style: solid;
}

.outline-1{
  outline-width: 1px;
}

.outline-2{
  outline-width: 2px;
}

.outline-offset-\[-0\.50px\]{
  outline-offset: -0.50px;
}

.outline-offset-\[-1px\]{
  outline-offset: -1px;
}

.outline-neutral-500{
  outline-color: #737373;
}

.outline-zinc-300{
  outline-color: #d4d4d8;
}

.outline-zinc-800{
  outline-color: #27272a;
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100{
  transition-duration: 100ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-700{
  transition-duration: 700ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.will-change-transform{
  will-change: transform;
}

* {
  font-family: 'Archivo', sans-serif;
}

html, body {
  scroll-behavior: smooth;
  color: #1E1E1E;
}

.container{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  max-width: 1248px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 1024px){
  .container{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.single-content {
}

.single-content h1{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.single-content h2{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.single-content h3{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.single-content p{
  font-weight: 400;
  line-height: 1.5;
}

.single-content table{
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.single-content td, .single-content th{
  border-width: 1px;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 1;
}

.single-content ol{
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.single-content ul{
  list-style-type: disc;
  padding-left: 1.5rem;
}

a:not(.btn){
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

a:not(.btn):hover{
  --tw-text-opacity: 1;
  color: rgb(192 15 12 / var(--tw-text-opacity, 1));
}

.btn{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.btn *{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.btn-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity, 1));
}

.btn-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-white:hover *{
  stroke: #fff;
}

.btn-white-hover-red:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(192 15 12 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-white-hover-red:hover *{
  stroke: #fff;
}

.btn-black{
  --tw-bg-opacity: 1;
  background-color: rgb(44 44 44 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-red{
  --tw-bg-opacity: 1;
  background-color: rgb(192 15 12 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-red:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(153 11 9 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-red:hover *{
  stroke: #fff;
}

.btn-black:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(69 69 69 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-black:hover *{
  stroke: #fff;
}

.accordion-checkbox:checked ~ label .accordion-icon{
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.simple-table{
  width: 100%;
}

.simple-table td {
  vertical-align: top;
  padding: 0.5rem;
}

.simple-table td:nth-child(1) {
  width: 10px;
}

.simple-table td:nth-child(2) {
  width: 30%;
}

.simple-table td:nth-child(3) {
  white-space: pre-line;
  width: 33%;
}

.simple-table td:nth-child(4) {
  width: 33%;
}

#loader{
  pointer-events: none;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#loader.active{
  pointer-events: auto;
  opacity: 1;
}

#loader .spinner {
  opacity: 0;
}

#loader.active .spinner {
  animation: spinnerActive 0.5s forwards;
  animation-delay: 0.8s;
}

/* Left-positioned two-tone scrollbar */

.scrollbar {
  direction: rtl;
  /* Moves scrollbar to the left */
  * {
    direction: ltr;
  }
  /* WebKit */
  &::-webkit-scrollbar {
    width: 12px;
    /* vertical scrollbar width */
    height: 12px;
    /* horizontal scrollbar height */
  }
  &::-webkit-scrollbar-track {
    background: #757575;
    /* darker track */
  }
  &::-webkit-scrollbar-thumb {
    background: #757575;
    /* lighter thumb */
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #2C2C2C;
    /* keep same color on hover */
  }
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #2C2C2C #757575 ;
  /* thumb track */
}

.content-item-content table tr:first-child td{
  border-style: none;
  padding: 0px;
  padding-bottom: 1rem;
  font-weight: 700;
}

@keyframes spinnerActive {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:\!text-\[\#F3F3F3\]:hover{
  --tw-text-opacity: 1 !important;
  color: rgb(243 243 243 / var(--tw-text-opacity, 1)) !important;
}

.hover\:text-gray-300:hover{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:pointer-events-auto{
  pointer-events: auto;
}

.group:hover .group-hover\:translate-x-\[0\]{
  --tw-translate-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-\[calc\(-100\%_-_20px\)\]{
  --tw-translate-x: calc(-100% - 20px);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:rotate-\[-3deg\]{
  --tw-rotate: -3deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-\[1\.15\]{
  --tw-scale-x: 1.15;
  --tw-scale-y: 1.15;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:text-\[\#323232CC\]{
  color: #323232CC;
}

.group:hover .group-hover\:opacity-0{
  opacity: 0;
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.peer:checked ~ .peer-checked\:my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.peer:checked ~ .peer-checked\:my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.peer:checked ~ .peer-checked\:max-h-40{
  max-height: 10rem;
}

.peer:checked ~ .peer-checked\:max-h-\[100vh\]{
  max-height: 100vh;
}

.peer:checked ~ .peer-checked\:max-h-\[200vh\]{
  max-height: 200vh;
}

.peer:checked ~ .peer-checked\:max-h-\[700px\]{
  max-height: 700px;
}

.peer:checked ~ .peer-checked\:pb-2{
  padding-bottom: 0.5rem;
}

@media not all and (min-width: 640px){
  .max-sm\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .max-sm\:max-w-full{
    max-width: 100%;
  }

  .max-sm\:flex-col{
    flex-direction: column;
  }

  .max-sm\:items-center{
    align-items: center;
  }

  .max-sm\:justify-center{
    justify-content: center;
  }

  .max-sm\:text-center{
    text-align: center;
  }

  .max-sm\:text-\[13px\]{
    font-size: 13px;
  }
}

@media (min-width: 768px){
  .md\:w-\[150px\]{
    width: 150px;
  }

  .md\:w-\[80px\]{
    width: 80px;
  }
}

@media (min-width: 1024px){
  .lg\:relative{
    position: relative;
  }

  .lg\:top-0{
    top: 0px;
  }

  .lg\:left-2{
    left: 0.5rem;
  }

  .lg\:top-2{
    top: 0.5rem;
  }

  .lg\:my-0{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .lg\:-me-3{
    margin-inline-end: -0.75rem;
  }

  .lg\:mb-8{
    margin-bottom: 2rem;
  }

  .lg\:ms-3{
    margin-inline-start: 0.75rem;
  }

  .lg\:mt-5{
    margin-top: 1.25rem;
  }

  .lg\:mt-7{
    margin-top: 1.75rem;
  }

  .lg\:mt-\[-120px\]{
    margin-top: -120px;
  }

  .lg\:mt-\[120px\]{
    margin-top: 120px;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:grid{
    display: grid;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-12{
    height: 3rem;
  }

  .lg\:h-\[120px\]{
    height: 120px;
  }

  .lg\:h-\[40px\]{
    height: 40px;
  }

  .lg\:h-\[43px\]{
    height: 43px;
  }

  .lg\:h-\[46px\]{
    height: 46px;
  }

  .lg\:h-\[48px\]{
    height: 48px;
  }

  .lg\:h-\[560px\]{
    height: 560px;
  }

  .lg\:h-\[99px\]{
    height: 99px;
  }

  .lg\:h-\[24px\]{
    height: 24px;
  }

  .lg\:max-h-\[751px\]{
    max-height: 751px;
  }

  .lg\:min-h-\[800px\]{
    min-height: 800px;
  }

  .lg\:min-h-\[542px\]{
    min-height: 542px;
  }

  .lg\:min-h-\[390px\]{
    min-height: 390px;
  }

  .lg\:min-h-\[436px\]{
    min-height: 436px;
  }

  .lg\:min-h-\[680px\]{
    min-height: 680px;
  }

  .lg\:min-h-\[926px\]{
    min-height: 926px;
  }

  .lg\:min-h-\[622px\]{
    min-height: 622px;
  }

  .lg\:min-h-\[582px\]{
    min-height: 582px;
  }

  .lg\:min-h-\[703px\]{
    min-height: 703px;
  }

  .lg\:min-h-\[751px\]{
    min-height: 751px;
  }

  .lg\:w-40{
    width: 10rem;
  }

  .lg\:w-48{
    width: 12rem;
  }

  .lg\:w-56{
    width: 14rem;
  }

  .lg\:w-\[200px\]{
    width: 200px;
  }

  .lg\:w-\[488px\]{
    width: 488px;
  }

  .lg\:w-\[64px\]{
    width: 64px;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:w-\[24px\]{
    width: 24px;
  }

  .lg\:w-\[115px\]{
    width: 115px;
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-\[520fr_576fr\]{
    grid-template-columns: 520fr 576fr;
  }

  .lg\:grid-cols-\[532px_520px\]{
    grid-template-columns: 532px 520px;
  }

  .lg\:grid-cols-\[520px_540px\]{
    grid-template-columns: 520px 540px;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:gap-10{
    gap: 2.5rem;
  }

  .lg\:gap-14{
    gap: 3.5rem;
  }

  .lg\:gap-16{
    gap: 4rem;
  }

  .lg\:gap-3{
    gap: 0.75rem;
  }

  .lg\:gap-4{
    gap: 1rem;
  }

  .lg\:gap-5{
    gap: 1.25rem;
  }

  .lg\:gap-6{
    gap: 1.5rem;
  }

  .lg\:gap-7{
    gap: 1.75rem;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:gap-20{
    gap: 5rem;
  }

  .lg\:gap-\[4\.3rem\]{
    gap: 4.3rem;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:gap-y-14{
    row-gap: 3.5rem;
  }

  .lg\:whitespace-pre-line{
    white-space: pre-line;
  }

  .lg\:border-t-0{
    border-top-width: 0px;
  }

  .lg\:bg-transparent{
    background-color: transparent;
  }

  .lg\:p-0{
    padding: 0px;
  }

  .lg\:p-4{
    padding: 1rem;
  }

  .lg\:p-6{
    padding: 1.5rem;
  }

  .lg\:p-8{
    padding: 2rem;
  }

  .lg\:px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-\[100px\]{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:ps-10{
    padding-inline-start: 2.5rem;
  }

  .lg\:ps-8{
    padding-inline-start: 2rem;
  }

  .lg\:text-left{
    text-align: left;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-\[14px\]{
    font-size: 14px;
  }

  .lg\:text-\[18px\]{
    font-size: 18px;
  }

  .lg\:text-\[20px\]{
    font-size: 20px;
  }

  .lg\:text-\[24px\]{
    font-size: 24px;
  }

  .lg\:text-\[25px\]{
    font-size: 25px;
  }

  .lg\:text-\[32px\]{
    font-size: 32px;
  }

  .lg\:text-\[40px\]{
    font-size: 40px;
  }

  .lg\:text-\[42px\]{
    font-size: 42px;
  }

  .lg\:text-\[50px\]{
    font-size: 50px;
  }

  .lg\:text-\[64px\]{
    font-size: 64px;
  }

  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:leading-10{
    line-height: 2.5rem;
  }

  .lg\:leading-6{
    line-height: 1.5rem;
  }

  .lg\:leading-\[1\.3\]{
    line-height: 1.3;
  }

  .lg\:leading-\[48px\]{
    line-height: 48px;
  }

  .lg\:leading-none{
    line-height: 1;
  }

  .lg\:leading-\[76\.80px\]{
    line-height: 76.80px;
  }

  .lg\:leading-\[1\.2\]{
    line-height: 1.2;
  }

  .lg\:leading-\[24px\]{
    line-height: 24px;
  }

  .lg\:opacity-0{
    opacity: 0;
  }

  .lg\:opacity-100{
    opacity: 1;
  }
}

@media (min-width: 1280px){
  .xl\:text-\[24px\]{
    font-size: 24px;
  }
}