@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
    font-family: 'Archivo', sans-serif;
}
html, body {
    scroll-behavior: smooth;
    color: #1E1E1E;
} 

.container {
    @apply w-full max-w-[1440px] mx-auto h-full px-5 lg:px-16;
}

.single-content {
    
}
.single-content h1 {
    @apply text-3xl font-semibold;
}
.single-content h2 {
    @apply text-2xl font-semibold;
}
.single-content h3 {
    @apply text-xl font-semibold;
}
.single-content p {
    @apply font-normal leading-[1.5];
}
.single-content table {
    @apply mb-6 mt-2 w-full;
}
.single-content td, .single-content th {
    @apply border p-2 px-3 leading-none;
}
.single-content ol {
    @apply list-decimal pl-6;
}
.single-content ul {
    @apply list-disc pl-6;
}
a:not(.btn) {
    @apply transition-all duration-200 hover:text-[#C00F0C];
}
.btn {
    @apply transition-all duration-200;
}
.btn * {
    @apply transition-all duration-200;
}
.btn-white:hover {
    @apply bg-[#1E1E1E] text-white;
}
.btn-white:hover * {
    @apply stroke-[#fff];
}
.btn-white-hover-red:hover {
    @apply bg-[#C00F0C] text-white;
}
.btn-white-hover-red:hover * {
    @apply stroke-[#fff];
}
.btn-red:hover {
    @apply bg-[#990B09] text-white;
}
.btn-red:hover * {
    @apply stroke-[#fff];
}
.btn-black:hover {
    @apply bg-[#454545] text-white;
}
.btn-black:hover * {
    @apply stroke-[#fff];
}

.accordion-checkbox:checked ~ label .accordion-icon {
    @apply rotate-0;
}